.hello-section {
  width: 60%;
  margin-left: 20%;
  display: flex;
  padding-top: 180px;
  margin-top: -160px;
}

.hello-column {
  flex: 1;
  padding: 20px;
  text-align: justify;
  vertical-align: middle;
}

.hello-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hello-content h2 {
  font-size: 40px;
  margin-top: 0px;
}

.hello-content p {
  font-size: 20px;
  color: grey;
}

.hello-profile {
  width: 80%;
  margin-left: 10%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
}

@media screen and (max-width:600px) {
  .hello-section {
    width: 90%;
    margin-left: 5%;
    flex-direction: column;
    padding-top: 0px;
    margin-top: 0px;
  }

  .hello-column {
    padding: 10px;
  }
  
  .hello-content {
    top: 0%;
    transform: translateY(0%);
  }
  
  .hello-profile {
    width: 90%;
    margin-left: 5%;
    top: 0%;
    transform: translateY(0%);
  }
}